<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/confirmationStyle.css" type="text/css">
    <script src="https://kit.fontawesome.com/c6d4bf1353.js" crossorigin="anonymous"></script>
    <script src="scripts/confirmationScript.js" defer></script>
    <link rel="icon" type="image/x-icon" href="images/media.png" >
    <title>TV Reviews</title>
</head>
<body>
    <nav>
        <span id="menuButton" class="fa-solid fa-bars icon"></span>
        <h1>TV Reviews</h1>
    </nav>
    <section>
        <aside id="menu">
            <a href="/">
            <span class="fa-solid fa-house icon"></span>
            Home</a>

            <a href="">
            <span class="fa-solid fa-star"></span>
            Recent Reviews</a>

            <a href="/form">
            <span class="fa-solid fa-pen icon"></span>
            Post a Review</a>

            <a href="">
            <span class="fa-solid fa-magnifying-glass icon"></span> 
            Search</a>
        </aside>
        <main>
                <aside>
                    <p>audience rating</p>
                    <p>Genres:</p>
                </aside>
                <main>
                    <p id="usernameDisplay">Review by user</p>
                    <hr>
                    <div id="titleBox">
                        <h1>Tv show title</h1>    
                    </div>
                    
                    <div>
                        <span class="fa-solid fa-star"></span>
                        <span class="fa-solid fa-star"></span>
                        <span class="fa-solid fa-star"></span>
                        <span class="fa-solid fa-star"></span>
                        <span class="fa-solid fa-star"></span>
                    </div>
                    <h3>Review title</h3>
                    <p>review content</p>
                </main>
        </main>
    </section>
</body>
</html>