<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/formStyle.css" type="text/css">
    <script src="https://kit.fontawesome.com/c6d4bf1353.js" crossorigin="anonymous"></script>
    <script src="scripts/formScript.js" defer></script>
    <link rel="icon" type="image/x-icon" href="images/media.png" >
    <title>TV Reviews</title>
</head>
<body>
    <nav>
        <span id="menuButton" class="fa-solid fa-bars icon"></span>
        <h1>TV Reviews</h1>
    </nav>
    <section>
        <aside id="menu">
            <a href="/">
            <span class="fa-solid fa-house icon"></span>
            Home</a>

            <a href="/form">
            <span class="fa-solid fa-pen icon"></span>
            Post a Review</a>

            <a href="/search">
            <span class="fa-solid fa-magnifying-glass icon"></span> 
            Search</a>
        </aside>
        <main>
            <h1>Write a Review</h1>
            <form id="reviewForm" method="post" action="/success">
                <p class="err" id="showErr">*Show Title is required*</p>
                <p class ="err" id="showMaxErr">*100 character limit*</p>
                <label for="showTitle">
                    Show Title: <input type="text" id="showTitle" name="showTitle">
                </label>

                <p class="err" id="maxGenreErr">*Please select 5 or less genres*</p>
                <p class ="err" id="noGenreErr">*Genre selection is required*</p>
                <p>Genre: </p>
                <div id="genreList">
                    <label for="comedyGenre">
                        <input class="genre" type="checkbox" id="comedyGenre" name="genres" value="Comedy">
                        Comedy
                    </label>

                    <label for="docuGenre">
                        <input  class="genre" type="checkbox" id="docuGenre" name="genres" value="Documentary">
                        Documentary
                    </label>

                    <label for="realityGenre">
                        <input class="genre"  type="checkbox" id="realityGenre" name="genres" value="Reality-TV">
                        Reality TV
                    </label>

                    <label for="dramaGenre">
                        <input class="genre"  type="checkbox" id="dramaGenre" name="genres" value="Drama">
                        Drama
                    </label>

                    <label for="actionGenre">
                        <input  class="genre" type="checkbox" id="actionGenre" name="genres" value="Action">
                        Action
                    </label>

                    <label for="horrorGenre">
                        <input class="genre"  type="checkbox" id="horrorGenre" name="genres" value="Horror">
                        Horror
                    </label>

                    <label for="crimeGenre">
                        <input class="genre"  type="checkbox" id="crimeGenre" name="genres" value="Crime">
                        Crime
                    </label>

                    <label for="animatedGenre">
                        <input  class="genre" type="checkbox" id="animatedGenre" name="genres" value="Animated">
                        Animated
                    </label>

                    <label for="romGenre">
                        <input  class="genre" type="checkbox" id="romGenre" name="genres" value="Romance">
                        Romance
                    </label>

                    <label for="sportGenre">
                        <input class="genre"  type="checkbox" id="sportGenre" name="genres" value="Sport">
                        Sport
                    </label>
                </div>

                <p class ="err" id="audienceRatingErr">*Audience Rating is required*</p>
                <p>Audience Rating: </p>
                <div id="ratingList">

                    <label for="ratingY">
                        <input type="radio" id="ratingY" name="audienceRating" value="Y">
                        TV-Y
                    </label>

                    <label for="ratingPG">
                        <input type="radio" id="ratingPG" name="audienceRating" value="PG">
                        TV-PG
                    </label>

                    <label for="rating14">
                        <input type="radio" id="rating14" name="audienceRating" value="14">
                        TV-14
                    </label>

                    <label for="ratingMA">
                        <input type="radio" id="ratingMA" name="audienceRating" value="MA">
                        TV-MA
                    </label>

                    <label for="unrated">
                        <input type="radio" id="unrated" name="audienceRating" value="unrated">
                        Unrated
                    </label>
                </div>

                <p class ="err" id="ratingErr">*Star rating is required*</p>
                <div id="starDisplay">
                    <span id="oneStar" class="fa-solid fa-star star"></span>
                    <span id="twoStar" class="fa-solid fa-star star"></span>
                    <span id="threeStar" class="fa-solid fa-star star"></span>
                    <span id="fourStar" class="fa-solid fa-star star"></span>
                    <span id="fiveStar" class="fa-solid fa-star star"></span>
                    <input type="text" id="starRating" name="starRating">
                    <span id="starOutput"></span>
                </div>

                <p class ="err" id="reviewTitleMaxErr">*100 character limit*</p>
                <label for="reviewTitle">
                    Review Title: <input type="text" id="reviewTitle" name="reviewTitle">
                </label>

                <p class ="err" id="reviewCommentMaxErr">*500 character limit*</p>
                <label for="reviewComment">Review: </label>
                <textarea rows="4" name="reviewComment" id="reviewComment"></textarea>

                <p class="err" id="usernameMaxErr">*20 character limit*</p>
                <p class="err" id="usernameMinErr">*Username must be longer than 3 characters*</p>
                <p class="err" id="invalidUsername">*That username is invalid: *</p>
                <label for="username">
                    Username: <input type="text" id="username" name="username">
                </label>

                <button type="submit">Post <span class="fa-solid fa-paper-plane"></span></button> 
            </form>
        </main>
    </section>
    
</body>
</html>